:root {
    box-sizing: border-box;
    font-family: sans-serif, system-ui;
    font-size: 16px;
    font-weight: 400;
  }

  :root {
    --background: white;
    --text-color: black;
    --accent-color: rgba(0, 0, 199, 0.69);
    --text-on-accent: white;
    --text-light: gray;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: rgb(28, 28, 34);
      --text-color: white;
      --accent-color: rgb(104, 104, 247);
      --text-on-accent: rgb(255, 255, 255);
      --text-light: lightgray;
    }
  }

  * {
    line-height: 1.5em;
  }

  a:link:not(.call-to-action) {
    color: var(--text-color);
  }

  a:visited:not(.call-to-action) {
    color: var(--text-light);
  }

  body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header img {
    max-height: 400px;
    max-width: 100%;
  }

  main {
    margin: 0 16px;
    max-width: 840px;
  }

  li {
    list-style: none;
    white-space: pre-line;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row * {
    flex-grow: 1;
    flex-basis: 400px;
  }

  h2 {
    text-align: center;
  }

  .call-to-action {
    display: block;
    width: fit-content;
    text-decoration: none;
    font-weight: bold;

    padding: 8px 16px;

    color: var(--text-on-accent);
    background-color: var(--accent-color);

    border-radius: 1000px;
  }

  footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--text-light);
  }

  